@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');



// homeFirst 



.homeFirst {
  display: flex;
  justify-content: space-between;
  font-family: 'Fira Sans', sans-serif;
  .firstLeft {
    margin: 70px 50px 0px 70px;
    h1 {
      font-size: 150px;
      background: -webkit-linear-gradient(90deg, rgba(76,29,21,1) 0%, rgba(132,77,68,1) 48%, rgba(178,145,143,1) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    h2 {
      margin:35px 0px;
      color: #361306;
      font-size: 70px;
    }
    p {
      font-size: 20px;
      color: #B2918F;
    }
    .leftButton {
      display: flex;
      margin-top: 50px;
      button {
        border: none;
        outline: none;
        margin-right: 30px;
        padding: 25px 50px;
        border-radius: 15px;
        background-color: #361306;
        color: white;
        font-size: 20px;
      }
    }
    
    @media screen and (max-width: 1300px) {
      h1 {
        font-size: 100px;
      }
      h2 {
        font-size: 40px;
      }
      .leftButton {
        flex-direction: column;
        button {
          margin-bottom: 20px;
          padding: 10px 20px;
          font-size: 15px;
        }
      }
    }
  }
  @media screen and (max-width: 1300px) {
    .firstLeft {
      margin-top: 0px;
    }  
  }
  .firstRight {
    .right__box {
      position: relative;
      width: 700px;
      height: 700px;
      margin: 50px 0px;
      background-color: #E1D9D6;
      border-radius: 80px 0px 0px 80px;
      img {
        width: 500px;
        height: 500px;
      }
      .box__img1,
      .box__img2 {
        position: absolute;
      }
      .box__img1 {
        top: 30px;
        right: 60px;
      }
      .box__img2 {
        bottom: -30px;
        left: -20px;
      }

      @media screen and (max-width: 1300px) {
        img {
          width: 380px;
          height: 380px;
        }
        .box__img1 {
          top: 30px;
          left: 150px;
        }
        .box__img2 {
          bottom: 120px;
          left: -10px;
        }
      }
    }
    @media screen and (max-width: 1300px) {
      .right__box {
        margin: 0;
      }
    }
  }
}



// homeSecond 


.homesecond {
  height: 700px;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  .second__left {
    flex-grow: 1;
    background: url('../assets/coffeebackground2.png') no-repeat bottom/ 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h1 {
      margin-bottom: 20px;
      font-size: 60px;
    }
    p {
      width: 600px;
      font-size: 25px;
      word-break: keep-all;
    }
  }
  .second__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .right__imgbox {
      height: 350px;
      img {
        width: 40%;
        height: 85%;
        margin: 10px;
        border-radius: 15px;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    .second__right {
      display: none;
    }
    .second__left {
      display: block;
      text-align: start;
      margin-left: 70px;
      background: none;
    }
    background: url('../assets/coffeebackground2.png') no-repeat left/900px;
  }
}

// homeThird 

.homethird {
  font-family: 'Fira Sans', sans-serif;
  h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
  }
  .third__navbar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    li {
      margin-right: 30px;
      font-size: 25px;
      padding-bottom: 10px;
      border-bottom: 2px solid #361306;
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
  .third__imgbox {
    width: 1590px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #B2918F;
    .carousel-container {
      display: flex;
      overflow: hidden;
      .carousel-slide {
        margin: 15px;
        transition: transform 0.5s;
        img {
          width: 500px;
          height: 500px;
          object-fit: cover;
        }
      }
    }
  }
}
