.coffeestory {
  h1 {
    margin: 90px;
    font-size: 40px;
    text-align: center;
    @media screen and (max-width: 500px) {
      margin: 90px 0px;
      font-size: 35px;
    }
  }
  
  h2 {
    display: inline-block;
    margin: 40px 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #444444;
    font-size: 30px;
  }
  
  h5 {
    padding: 20px 0px;
    font-size: 24px;
  }

  .article__a {
    color: #337AB7;
  }


  .coffeestory__inner {
    // 공통 부분
    width: 70%;
    margin: 0 auto;
    line-height: 32px;

    // 커피 재배와 생산 과정
    .coffeeproductionprocess {
      .productionprocess__inner {
        p {
          font-size: 24px;
          font-weight: 200;
          color: #444444;
        }
        .inner__step {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 50px;
          margin: 70px 0px;
          .step__inner {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .inner__introduce {
              background-color: #F3F3F3;
              p {
                padding: 5px 0px;
                text-align: center;
                font-weight: bold;
                color: #986C4A;
              }
              .introduce__step {
                color: black;
              }
            }
          }
        }
        .inner__link {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          padding-bottom: 20px;
          border-top: 1px solid #44507A;
          border-bottom: 1px solid #44507A;
          a {
            color: #3279B7;
          }
        }
        @media screen and (max-width: 1320px) {
          .inner__step {
            grid-template-columns: repeat(2, 1fr);
          }
        }
        @media screen and (max-width: 500px) {
          .inner__step {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  
    //커피의 역사
    .coffeehistory {
      .history__inner {
        display: flex;
        @media (max-width: 1300px) {
          flex-direction: column;
        }
        p {
          font-size: 20px;
          color: #444444;
          @media (max-width: 1300px) {
            margin-top: 40px;
          }
        }
        img {
          width: 500px;
          height: 400px;
          object-fit: cover;
          @media (max-width: 500px) {
            width: 300px;
            height: 300px;
          }
        }
        .img1_2 {
          margin-left: 30px;
          @media (max-width:1300px) {
            display: none;
          }
        }
        .img1_3 {
          margin-right: 30px;

        }
      }
      .inner__link {
        display: flex;
        flex-direction: column;
        margin:30px 0px;
        padding-bottom: 20px;
        border-top: 1px solid #44507A;
        border-bottom: 1px solid #44507A;
        a {
          color: #3279B7;
        }
      }
    }

    //커피의 종류
    .coffeetypes {
      .coffeetypes__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        margin: 70px 0px;
        .inner__box {
          .inner__img {
            position: relative;
            max-width: 406px;
            height: 260px;
            .img__nationalflag {
              position: absolute;
              
            }
          }
          .inner__introbox {
            background-color: #f8f8f8;
            .inner__name {
              padding: 20px 0px;
              font-size: 22px;
              font-weight: bold;
              text-align: center;
            }
            .inner__introduce {
              padding: 0px 20px 20px;
              text-align: center;
            }
          }
        }
      }
      .inner__link {
        display: flex;
        flex-direction: column;
        margin:30px 0px;
        padding-bottom: 20px;
        border-top: 1px solid #44507A;
        border-bottom: 1px solid #44507A;
        a {
          color: #3279B7;
        }
      }
      @media screen and (max-width: 1320px) {
        .coffeetypes__inner {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media screen and (max-width: 500px) {
        .coffeetypes__inner {
          grid-template-columns: repeat(1, 1fr);
        }
      }

    }

    //커피와 건강
    .coffeehealth {
      .health__inner {
        display: flex;
        margin: 70px 0px;
        @media (max-width:1300px) {
          flex-direction: column;
        }
        h3 {
          font-size: 22px;
          font-weight: bold;
          color: #44507A;
        }
        p {
          margin: 20px 0px;
          font-size: 18px;
        }
        span {
          display: block;
          margin: 10px 0px;
          font-size: 19px;
          font-weight: bolder;
        }
        img {
          width: 492px;
          height: 362px;
          object-fit: cover;
          margin-bottom: 30px;
          @media (max-width: 500px) {
            display: none;
          }
        }
        .img1_1 {
          display: none;
          @media (max-width: 1300px) {
            display: block;
          }
          @media (max-width: 500px) {
            display: none;
          }
        }
        .img1_3 {
          margin-left: 30px;
          @media (max-width: 1300px) {
            display: none;
          }
        }
        .img_2 {
          margin-right: 30px;
        }
      }
    }
  }
}