@import './variable.scss';

$coffee-backgroundColor: #313131;

.footer {
  padding: 10px;
  background-color: $coffee-backgroundColor;
  .footer__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .inner__introduce {
      font-size: 19px;

      p {
        color: $basic-color;
      }
    }

    .inner__icon  {
      display: flex;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 7px solid $basic-color;
        background-color: white;
        margin-left: 15px;
      }
    }
  }
}