@import './variable.scss';

.recipehome {
  border-top: 20px solid #E9E9E9;
  .recipehome__banner {
    background: linear-gradient(90deg, rgba(76,29,21,1) 0%, rgba(132,77,68,1) 48%, rgba(178,145,143,1) 100%);
    display: flex;
    justify-content: space-around;
    .banner__left {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      p {
        color: $basic-color;
        font-size: 2rem;
      }
      h1 {
        color: white;
        font-size: 3rem;
      }
      a {
        width: 205px;
      }
    }

    .banner__right {
      img {
        width: 400px;

      }
    }
  }

  .recipehome__recommend {
    .recommendrecipe {
      margin-bottom: 50px;
      padding: 50px 0px;
      font-size: 3rem;
      border-bottom: 1px solid #6b3939;
    }
    .recommend__inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .inner__box {
        width: 550px;
        text-align: center;
        h1 {
          font-size: 2.5rem;
          color: $basic-color;
        }

        p {
          margin: 15px;
        }
        
        a {
          display: flex;
          justify-content: center;
        }
      }
    }

    .button-74 {
      position: relative;
      left: 50%;
      transform: translate(-50%);
      width: 250px;
      background-color: $basic-color;
      border: 2px solid #422800;
      border-radius: 30px;
      box-shadow: #422800 4px 4px 0 0;
      color: white;
      cursor: pointer;
      display: inline-block;
      font-weight: 600;
      font-size: 18px;
      margin: 50px 0px;
      padding: 0 18px;
      line-height: 50px;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      &:hover {
        background-color: #fff;
        color: black;
      }
      &:active {
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(-50%) scale(0.9);
      }
    } 
  }
}