@import './variable.scss';

.recipe {
  .recipeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 30%;
      height: 30%;
      object-fit: cover;
    }
  }
  .recipe__intro {
    h3 {
      margin: 50px 0px 20px;
      color: #4281C1;
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
    }
    .intro__good {
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: #4281C1;
        text-align: center;
        font-size: 2rem;
      }
      .good__button {
        outline: none;
        border: none;
        background-color: white;
        color: red;
      }
    }
    .intro__box {
      margin: 80px 150px; 
      display: flex;
      background-color: #F5EDE7;
      .box__left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4281C1;
        p {
          transform: rotate(90deg);
          color: white;
          font-size: 2rem;
        }

      }
      .box__right {
        padding: 30px;
        flex-grow: 1;
        .right__h1 {
          font-size: 3rem;
          font-weight: bold;
        }
        p {
          padding: 10px;
          font-size: 1.7rem;
          font-weight: 300;
        }
      }
    }
    .recipe__li {
      width: 1200px;
      margin: 0 auto 50px;
      padding: 0px 150px;
      display: flex;
      flex-direction: column;
      li {
        padding: 10px;
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
}