.shopping {
  width: 1320px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  .shopping__inner {
    a {
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        background-color: #EDE2D2;
      }
      p {
        position: relative;
        display: inline-block;
        top: -40px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .shopping__date {
      color: #7D7D7D;
    }
    .shopping__price {
      margin: 10px 0px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

@media (max-width: 1320px) {
  .shopping {
    width: 850px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .shopping {
    width: 400px;
    grid-template-columns: repeat(1, 1fr);
  }
}