.shopbasket {
  h1 {
    margin: 150px 0px 0px;
    color: #353535;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }
  //진행 상황(변경 하자)
  .basket__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .progress__line {
      width: 10%;
      height: 2px;
      margin: 0px 20px;
      background-color: #cccccc;
    }

    .progress__basket,
    .progress__order,
    .progress__complete {
      display: flex;
      align-items: center;
      .basket__procedure {
        padding: 20px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        color: white;
      }
      .basket__procedurename {
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .progress__basket {
      .basket__procedure {
        background-color: #333333;
      }
    }

    .progress__order,
    .progress__complete {
      .basket__procedure {
        background-color: #cccccc;
      }
      .basket__procedurename {
        color: #cccccc;
      }
    }
  }

  h3 {
    margin: 100px 0px 50px;
    font-size: 20px;
    text-align: center;
  }
  .basket__inner {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto 50px;
    .inner__left {
      flex-grow: 2;
      .left__top {
        font-weight: bold;
        padding: 20px;
        border-top: 2px solid #353535;
        border-bottom: 2px solid #353535;
      }
      .left__bottom {
        padding: 25.7px;
        border-bottom: 1px solid #cccccc;
      }
    }
    .inner__right {
      flex-grow: 1;
      .right__top {
        display: flex;
        justify-content: space-around;
        font-weight: bold;
        padding: 20px 10px 20px 50px;
        border-top: 2px solid #353535;
        border-bottom: 2px solid #353535;
        :nth-child(2) {
          padding-left: 30px;
        }
      }
      .right__bottom {
        display: flex;
        justify-content: space-around;
        padding: 25px;
        border-bottom: 1px solid #cccccc;
        .bottom__count {
          display: flex;
          button {
            border: none;
            outline: none;
            cursor: pointer;
            margin: 0px 15px;
            border-radius: 15px;
          }
        }
      }

    }
  }
  .basket__total {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    background-color: #F9F9F9;
    .equal__price {
      font-size: 30px;
      font-weight: bold;
      color: #333333;
    }
    .equal__product {
      .equal__name {
        margin-bottom: 20px;
        color: #777777;
      }
    }
    .total__plus,
    .total__equal {
      display: flex;
      align-items: center;
    }
  }
  .basket__order {
    display: flex;
    justify-content: center;
    .order__button {
      text-align: center;
      width: 300px;
      margin: 100px 0px;
      padding: 25px;
      background-color: #333333;
      color: white;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      border: none;
    }
  }
}