.shopbasket {
  //진행 상황(변경 하자)
  .basket__progress {

    .progress__basket {
      .basket__procedure {
        background-color: #333333;
      }
    }

    .progress__order,
    .progress__complete {
      .basket__procedure {
        background-color: #cccccc;
      }
      .basket__procedurename {
        color: #cccccc;
      }
    }
  }
}